.login {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background: #fcfcfc;
  margin-top: 5vh;
  margin-top: 5%;
  margin-left: 40%;
  form {
    width: 70%;
    margin: 0 15%;
    position: relative;


      input {
        width: 200%;
        padding: 11px 0px;
        border-radius: 4px;
        color: darkgray;
        border-top: 1px solid darkgray;
        border-right: 1px solid darkgray;
        border-left: 1px solid darkgray;
        background: white;
      }
      input::-webkit-input-placeholder, input::placeholder{
        padding-left: 30px;
      }

      button {
        background: lightgreen;
        color: white;
        width: 100%;
        padding: 10px 30%;
        border-radius: 4px;
      }
    }
}


.mat-form-field {
  width: 100% !important;
}

.log-in-go {

  width: 70%;
  margin: 5px 15%;
  p {
    width: 60%;
    float: left;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    border: 1px solid blue;
    color: blue;
    float: right;
    padding: 4px 20px;
    margin-top: 10px;
  }
}
