<div class="login">
  <p>LOG IN WITH</p>

  <form (ngSubmit)="onLogin()" [formGroup]="userLogin">
    <div class="form-group">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="username" id="username">
          <mat-error *ngIf="userLogin.get('username').hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        <mat-error *ngIf="userLogin.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      </div>
  <button mat-ripple mat-raised-button type="submit" id="submit" [disabled]="userLogin.invalid || loading"
   color="primary">Login</button><br>
  </form>
  <div class="log-in-go">
    <p>Still have no account?</p>
    <a [routerLink]="['/register']"> Регистрация </a>
  </div>


</div>
