 .register-window {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  background: #fcfcfc;
  margin-top: 5vh;

  @media (min-width: 1024px ) {
    width: 500px;
    margin-top: 5%;
    margin-left: 40%;
  }
  h4 {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: black;
}
h4:before, h4:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h4:after {
  margin: 0 -55% 0 .5em;
}
  h2 {
    font-size: 1.1em;
  }
  &__socials {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    button {
      width: 46%;
      background: #fcfcfc;
      border: none;
    }
  }

  form {
    width: 70%;
    margin: 0 15%;
    position: relative;


      input {
        width: 200%;
        padding: 11px 0px;
        border-radius: 4px;
        color: darkgray;
        border-top: 1px solid darkgray;
        border-right: 1px solid darkgray;
        border-left: 1px solid darkgray;
        background: white;
      }
      input::-webkit-input-placeholder, input::placeholder{
        padding-left: 30px;
      }

      button {
        background: lightgreen;
        color: white;
        width: 100%;
        padding: 20px 30%;
        border-radius: 4px;
      }
      p {
        color: lightgray;
        font-size: 0.9em;
        span {
          color: blue;
          font-size: 1.05em;
        }
      }

  }

}

mart-form-field {
  width: 100%;
}

.mat-form-field {
  width: 100% !important;
}

.log-in-go {

  width: 70%;
  margin: 5px 15%;
  p {
    width: 60%;
    float: left;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    border: 1px solid blue;
    color: blue;
    float: right;
    padding: 4px 20px;
    margin-top: 10px;
  }
}
