<div class="register-window">
  <h2>SIGN UP WITH</h2><br>
  <div class="register-window__socials">
    <button type="button" (click)="signInWithGoogle()" name="button">Google</button>
    <p>/</p>
    <button type="button" (click)="signInWithFB()" name="button">Facebook</button>
  </div>
  <h4>or</h4>
  <form (ngSubmit)="onRegister()" [formGroup]="userRegister">
    <div class="form-group">
      <mat-form-field class="full-width-example" id="100width">
          <input matInput placeholder="Firstname" formControlName="first_name">
          <mat-error *ngIf="userRegister.get('first_name').hasError('required')">
            Firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    <br>
      <mat-form-field class="full-width-example" id="100width">
          <input  matInput placeholder="Lastname" formControlName="last_name">
          <mat-error *ngIf="userRegister.get('last_name').hasError('required')">
            Lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    <br>
      <mat-form-field class="full-width-example" id="100width">
          <input matInput placeholder="Email" formControlName="username">
          <mat-error *ngIf="userRegister.get('username').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userRegister.get('username').hasError('username')">
            Wrong email format
          </mat-error>
        </mat-form-field>
    <br>
    <mat-form-field class="full-width-example" id="100width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="userRegister.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userRegister.get('password').hasError('minlength')">
          Password has to be at least 6 chars
        </mat-error>
      </mat-form-field>
  <br>
  <p>By signing up to the PlacePass <span>Terms of Service</span> and <span>Privacy Policy</span> </p>
      <button type="submit"
       [disabled]="userRegister.invalid || loading" color="primary">REGISTER</button><br>
    </div>
  </form>
  <mat-spinner *ngIf="loading"></mat-spinner>

  <div class="log-in-go">
    <p>Already have an account?</p>
    <a [routerLink]="['/login']">Login in</a>
  </div>

</div>
